.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #a04ac0;
    -fx-border-width: 0px 0px 2px 0px;
}
#connectButton, #exitButton {
    -fx-background-color:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    -fx-text-fill: #d363ff;
    -fx-font-weight: bold;
}
#eyeButton {
    -fx-background-color: transparent;
}

